html,
body {
    margin: 0;
    color: #000000;
    background: #ffffff;
    font: sans-serif;
}

body {
    padding: 90px;
}

footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

p {
    color: #000000;
}